//poner los nombres de colores entre comillas
$colors: (
  danger: #dc3545,
  danger-light: #f8d7da,
  warning: #ffc107,
  warning-light: #fef0ec,
  success: #28a745,
  success-light: #e9f8ec,
  info: #00bcc2,
  info-light: #ccf2f3,
);
